@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000000;
  background: #e5e7eb;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.link__footer:hover > p {
  border-bottom: 1px solid black;
}

@media (max-width: 1024px) {
  body {
    height: 100%;
  }
}
