@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000000;
  background: #e5e7eb;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-200 text-black dark:bg-gray-800 dark:text-white;
}

h1, h2, p{
  @apply dark:text-white text-black;
}


.link__footer:hover > p {
  border-bottom: 1px solid black;
}

@media (max-width: 1024px) {
  body {
    height: 100%;
  }
}
