@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: #000000;
  background: #FFFFFF;
  /* height: calc(100vh - 70px) ; */
  height: 100% ;
}

.link__footer:hover > p{
  
  border-bottom: 1px solid black;
}

@media (max-width: 1024px) {

  body {
    height: 100%;
  }
}